.Profile{
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0;
    .container{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        justify-items: center;
        align-items: center;
        max-width: 600px;
        img{
            border-radius: 50%;
            width: 300px;
            transform: scale(0);
            margin: 10px;
            box-shadow: 5px 5px 8px #888888,
                        -5px -5px 8px #888888,
                        5px -5px 8px #888888, 
                        -5px 5px 8px #888888;
        }
        .text{
            text-align: start;
            h2{
                margin-bottom:5px; 
                justify-content: center;
            }
        }
    } 
}

@media (max-width: 526px) {
    .Profile{
        .container{
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            .text{
                text-align: center;
            }
        }
    }

}