.Skills{
    background-color: lime;
    display: flex;
    justify-content: center;
    .container{
        display: grid;
        grid-template-columns: minmax(100px, 900px);
    }
    // text-align: center;
    // padding: 10px;
    h3{
        // text-align: left;
    }
    .programming, .art{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-gap: 10px;
        margin-bottom:20px; 
    }
}