.About{
    // height: 500px;
    // width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    
    .container{
        display: grid;
        grid-template-columns: minmax(100px, 1100px);
        .grid{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, minmax(60px, auto));
            justify-content: center;
            align-items: center;
            
            h1{
                grid-row:1;
                grid-column-start: 1;
                grid-column-end: -1;
                text-align: center;
            }
            .Talents{
                grid-row: 2;
                grid-column-start: 1;
                grid-column-end: -1;

            }
        }
    }
}
@media (max-width: 426px) {
    .About{
        .container{
            .grid{
                grid-template-columns:  1fr;
            }
        }
    }
}