.About{
    display: flex;
    justify-content: center;
    .container{
        display: grid;
        grid-template-columns: minmax(100px, 900px);
        .grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, minmax(80px, auto));
            justify-content: center;
            align-items: center;
            grid-row-gap: 20px;
            padding: 20px;
            .sectionTitle{
                grid-row:1;
                grid-column-start: 1;
                grid-column-end: -1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                svg{
                    transform: translateX(-100vw);
                    opacity: 0;
                }
                h1{
                    transform: translateX(-100vw);
                    opacity: 0;
                }
            }
            .Talents{
                grid-row: 2;
                grid-column-start: 1;
                grid-column-end: -1;
            }
            .Profile{
                align-content: center;
                grid-column-start: 1;
                grid-column-end: -1;
            }
        }
    }
}
@media (max-width: 426px) {
    .About{
        .container{
            .grid{
                grid-template-columns:  1fr;
            }
        }
    }
}